# dependencies
node_modules/
client/build/
# misc
.DS_Store
.env
.env.default
backend/db/test.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
